body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

form {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-wide {
    width: 300px; /* Change this value to your desired width */
    padding: 10px; /* Optional: Add some padding */
    font-size: 16px; 
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
